{% extends 'blog/base.html' %}

{% block content %}
                {% for post in polist %}
                    <div class="post">
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                        <h1><a href="http://www.baidu.com">{{ post.title }}</a></h1>
                        <h3>作者：{{ post.author }}</h3>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
{% endblock %}